.wrapper {
  margin-top: 2em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 900px;
  margin: auto;
}

.title {
  color: var(--main-color);
}

section {
  margin-left: 20px;
}

ul li {
  margin: 0.8em 0;
}
