.inputContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin: 15px 0;
}

.input {
  padding: 8px;
  border: 1px solid rgba(168, 168, 168, 0.181);
  border-radius: 5px;
  font-size: 0.8em;
}

.label {
  margin-bottom: 6px;
  font-size: 0.7em;
}
