.university {
  margin: 10px 0;
}

.university:hover {
  cursor: pointer;
}

.active {
  border: 1px solid var(--main-color);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(135, 135, 135, 0.458);
  padding: 1.2em;
  border-radius: 5px;
  max-width: 500px;
}

.title {
  display: flex;
  align-items: center;
}

.description {
  margin-top: 10px;
}

.info {
  display: flex;
  align-items: center;
  flex: 1;
}

h3 {
  margin-right: 10px;
}

p {
  color: rgba(95, 95, 95, 0.822);
}
