.detail-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.detail-list {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  a {
    @apply text-blue-500;
    text-decoration: underline;
  }
}

.detail-weather {
  h4 {
    font-weight: 700;
  }
}

.loader {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    $size: 4rem;
    width: $size;
    height: $size;
  }
}