.profile-container {
  @apply py-5 px-5;
  display: flex;
  gap: 2rem;
  .no-data {
    font-size: 2rem;
  }
  .card {
    max-width: 1000px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    @apply text-blue-500
  }
  .profile-universities {
    .card {
      cursor: pointer;
    }
    max-width: 1000px;
    flex: 1.1 1 50%;
  }
  .profile-data {
    max-width: 1000px;
    flex: 1 1 50%;
    & > div {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}