@import "../styles.scss";

.btn-todo {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: $primary;
  color: $white;
  border: none;
  padding: 0.5rem;
  transition: 0.25s background-color;
  width: 100%;

  &:hover,
  &:active,
  &focus {
    background-color: darken($primary, 10%);
  }
}
